.footer {
    padding-bottom: 0px;
    padding-top: 70px;
}
.footer-social-link {
	border-radius: 18px;
}
.footer-nav {
	justify-content: flex-end;
}
a.nopoints{
	color: inherit;
}
@media (max-width: 700px) {

	.step-form-inputs .input-wrapper:last-of-type {
		width: 100%;
	}

	.status-popup .button {
		border-radius: 0;
	}
	.footer {
		box-shadow: none;
		padding-top: 40px;
	}
	.footer-body {
		padding-top: 0;
	}
	.footer::before,
	.footer::after {
		display: none;
	}
	section:last-of-type {
		margin-bottom: 20px;
	}
	.footer-nav-col,
	.footer-left,
	.footer-center,
	.copyright,
	.footer-right {
		width: 100%;
		text-align: center;
		justify-content: center;
	}
	.footer .footer-nav__link {
		justify-content: center;
	}
	.footer .footer-social {
		display: inline-flex;
	}
	.footer-phone {
		font-size: 36px;
	}
	.footer-phone-text {
		display: block;
		font-size: 16px;
		margin-top: 10px;
		margin-bottom: 20px;
	}
	.footer-nav .footer-nav-col:nth-child(2) {
		order: -1;
		margin-bottom: 10px;
	}
	.footer__subtitle {
		display: none;
	}
}

.cashback-item,.checkbox-cashback{-webkit-box-shadow:0 0 0 1px #d0d0d0;box-shadow:0 0 0 1px #d0d0d0}.step-form-inputs .address-dropdown,.step-form-inputs .address-dropdown .address-content{width:100%}@media (max-width:900px){.step-section{padding:20px 0}.step-wrap{margin:0 auto}.steps-list{margin:0 -5px 2rem}.polis-section--risk{padding:30px 0;margin-bottom:1rem}.polis-house{margin-bottom:1rem}.subscribe-section .input-wrapper{margin-top:3rem}}@media (max-width:700px){.footer:before{content:""}.footer-body{padding:1.5rem 0}.footer-body-wrap{-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start}.footer-center,.footer-left,.footer-nav-col,.footer-right{display:block;width:auto;text-align:left}.footer-phone{font-size:2.15rem}.footer-phone-text{display:none}.footer-social{display:-webkit-inline-box;display:-ms-inline-flexbox;display:inline-flex}}.input__placeholder span{will-change:transform;-webkit-transform:translate3d(0,125%,0);transform:translate3d(0,125%,0)}.polis__img-wrapper{max-width:21.875rem}.polis-section--risk .polis__img-wrapper{max-width:13.5rem;margin-top:auto}.not-found-image{max-width:17.5rem}