<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <title>Polises</title>
  <link href="main.css" rel="stylesheet"><link as="font" crossorigin="anonymous" href="fonts/SFProDisplay-Bold.woff" rel="preload"><link as="font" crossorigin="anonymous" href="fonts/SFProDisplay-Light.woff" rel="preload"><link as="font" crossorigin="anonymous" href="fonts/SFProDisplay-Medium.woff" rel="preload"><link as="font" crossorigin="anonymous" href="fonts/SFProDisplay-Regular.woff" rel="preload"><link as="font" crossorigin="anonymous" href="fonts/SFProDisplay-SemiBold.woff" rel="preload"></head>
  <body>
    <main>
      <!-- polis -->
      <section class="polis-section">
        <div class="container">
          <!-- wrap -->
          <div class="polis-wrap">
            <!-- polis -->
            <div class="polis">
              <div class="polis__header">
                <img src="images/logo.svg" alt="" class="polis__img" />
                <span class="polis__partner">
                  При партнерстве с “Ренессанс Страхование”
                </span>
              </div>

              <div class="polis__body">
                <img src="images/bg.png" alt="" class="polis__bg" />

                <div class="polis__data">
                  <h1 class="polis__title gradient-text">
                    Полис страхования недвижимости
                  </h1>
                  <em class="polis__number">
                    №1234567890-1
                  </em>

                  <div class="polis__rows">
                    <div class="polis__row">
                      <h3 class="polis__value">
                        Чувашская Республика – <br />
                        Чувашия, Чебоксары, <br />
                        А.Миттова б-р, д 1 к 1, кв 29
                      </h3>
                      <span class="polis__key">
                        Адрес объекта страхования
                      </span>
                    </div>
                    <div class="polis__row">
                      <h3 class="polis__value">
                        Павел Иванов
                      </h3>
                      <span class="polis__key">
                        Страхователь
                      </span>
                    </div>
                    <div class="polis__row">
                      <h3 class="polis__value">
                        30.07.1998
                      </h3>
                      <span class="polis__key">
                        Дата рождения
                      </span>
                    </div>
                    <div class="polis__row">
                      <h3 class="polis__value">
                        1.12.20 – 30.12.20
                      </h3>
                      <span class="polis__key">
                        Срок действия полиса
                      </span>
                    </div>
                    <div class="polis__row">
                      <h3 class="polis__value">
                        399 ₽
                      </h3>
                      <span class="polis__key">
                        Стоимость полиса (страховая премия)
                      </span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="polis__footer">
                <em class="polis__page">
                  1
                </em>
                <em class="polis__number">
                  №1234567890-1
                </em>
              </div>
            </div>
            <!-- ./ End of polis -->
            <!-- polis -->
            <div class="polis">
              <div class="polis__header">
                <h2 class="polis__title">
                  Что и на какую сумму застраховано?
                </h2>
              </div>

              <div class="polis__body">
                <ul class="polis__list">
                  <li class="h4 polis__item">
                    <h4 class="polis__product">
                      Конструктивные элементы, внутренняя отделка и инженерное оборудование
                    </h4>
                    <em class="polis__price">
                      300 000 ₽
                    </em>
                  </li>
                  <li class="h4 polis__item">
                    <h4 class="polis__product">
                      Движимое имущество
                    </h4>
                    <em class="polis__price">
                      300 000 ₽
                    </em>
                  </li>
                  <li class="h4 polis__item">
                    <h4 class="polis__product">
                      Страхование гражданской ответственности
                    </h4>
                    <em class="polis__price">
                      300 000 ₽
                    </em>
                  </li>
                  <li class="h4 polis__item">
                    <h4 class="polis__product"> Страхование непредвиденных расходов </h4>
                    <em class="polis__price">
                      1 150 000 ₽
                    </em>
                  </li>
                  <li class="h4 polis__item">
                    <h4 class="polis__product"> Общая страховая сумма </h4>
                    <em class="polis__price">
                      2 300 000 ₽
                    </em>
                  </li>
                </ul>
              </div>

              <div class="polis__footer">
                <em class="polis__page">
                  1
                </em>
                <em class="polis__number">
                  №1234567890-1
                </em>
              </div>
            </div>
            <!-- ./ End of polis -->
            <!-- polis -->
            <div class="polis">
              <div class="polis__header">
                <h2 class="polis__title">
                  От каких рисков застраховано?
                </h2>
              </div>

              <div class="polis__body">
                <div class="polis-risks">
                  <p class="polis-risks__text">
                    <b>
                      Возмещению подлежат убытки от повреждения, уничтожения или утраты застрахованного имущества в
                      результате наступления следующих случайных событий:
                    </b>
                  </p>

                  <div class="polis-risks__list">
                    <div class="polis-risk polis-risk--red">
                      <img src="images/risk1.png" alt="" class="polis-risk__img" />
                      <div class="polis-risk__info">
                        <span class="polis-risk__title">
                          Пожар
                        </span>
                        <p class="polis-risk__text">
                          п. 6.3.1
                        </p>
                      </div>
                    </div>
                    <div class="polis-risk polis-risk--yellow">
                      <img src="images/risk2.png" alt="" class="polis-risk__img" />
                      <div class="polis-risk__info">
                        <span class="polis-risk__title">
                          Взрыв
                        </span>
                        <p class="polis-risk__text">
                          п. 6.3.2
                        </p>
                      </div>
                    </div>
                    <div class="polis-risk polis-risk--blue">
                      <img src="images/risk3.png" alt="" class="polis-risk__img" />
                      <div class="polis-risk__info">
                        <span class="polis-risk__title">
                          Залив
                        </span>
                        <p class="polis-risk__text">
                          п. 6.3.5
                        </p>
                      </div>
                    </div>
                    <div class="polis-risk polis-risk--violet">
                      <img src="images/risk4.png" alt="" class="polis-risk__img" />
                      <div class="polis-risk__info">
                        <span class="polis-risk__title">
                          Удар молнии
                        </span>
                        <p class="polis-risk__text">
                          п. 6.3.3
                        </p>
                      </div>
                    </div>
                    <div class="polis-risk polis-risk--orange">
                      <img src="images/risk5.png" alt="" class="polis-risk__img" />
                      <div class="polis-risk__info">
                        <span class="polis-risk__title">
                          Повреждения ино- родными объектами и животными
                        </span>
                        <p class="polis-risk__text">
                          п. 6.3.10
                        </p>
                      </div>
                    </div>
                    <div class="polis-risk polis-risk--gray">
                      <img src="images/risk6.png" alt="" class="polis-risk__img" />
                      <div class="polis-risk__info">
                        <span class="polis-risk__title">
                          Противоправные действия третьих лиц
                        </span>
                        <p class="polis-risk__text">
                          п. 6.3.4
                        </p>
                      </div>
                    </div>
                    <div class="polis-risk polis-risk--green">
                      <img src="images/risk7.png" alt="" class="polis-risk__img" />
                      <div class="polis-risk__info">
                        <span class="polis-risk__title">
                          Стихийные бедствия
                        </span>
                        <p class="polis-risk__text">
                          п. 6.3.6
                        </p>
                      </div>
                    </div>
                  </div>

                  <p class="polis-risks__text">
                    <b>
                      В части страхования гражданской ответственности:
                    </b>
                    Гражданская ответственность перед третьими лицами в соответствии с п. 1.1.3. Дополнительных условий
                    № 6.
                  </p>

                  <p class="polis-risks__text">
                    <b>
                      В части страхования непредвиденных расходов:
                    </b>
                    Расходы на аренду жилья в соответствии с п. 2.1.1. Дополнительных условий № 1.
                  </p>
                </div>
              </div>

              <div class="polis__footer">
                <em class="polis__page">
                  1
                </em>
                <em class="polis__number">
                  №1234567890-1
                </em>
              </div>
            </div>
            <!-- ./ End of polis -->
            <!-- polis -->
            <div class="polis">
              <div class="polis__header">
                <h2 class="polis__title">
                  Кто получит выплату?
                </h2>
              </div>

              <div class="polis__body">
                <div class="polis__payment">
                  <h4 class="polis__subtitle">
                    Выгодоприобретателем является:
                  </h4>

                  <p class="polis__text">
                    <b>
                      В части страхования имущества и непредвиденных расходов
                    </b>
                    — Лицо, имеющее основанный на законе, ином правовом акте или договоре интерес в сохранении
                    застрахованного имущества. Настоящий Полис является Договором страхования на предъявителя
                    (страхование «за счет кого следует» (п. 3 ст. 930 ГК РФ)), для осуществления прав по которому
                    Страхователь/Выгодоприобретатель обязан предоставить его Страховщику.
                  </p>

                  <p class="polis__text">
                    <b>
                      В части страхования гражданской ответственности
                    </b>
                    — Третьи лица, жизни, здоровью и /или имуществу которых может быть причинен ущерб в результате
                    наступления страхового случая. Лицами, ответственность которых застрахована по настоящему Полису (в
                    части страхования гражданской ответственности) выступают собственники, наниматели, арендаторы
                    указанного в договоре помещения, постоянно или временно зарегистрированные в нем лица, а также
                    совместно проживающие с ними члены их семей.
                  </p>
                </div>
              </div>

              <div class="polis__footer">
                <em class="polis__page">
                  1
                </em>
                <em class="polis__number">
                  №1234567890-1
                </em>
              </div>
            </div>
            <!-- ./ End of polis -->
            <!-- polis -->
            <div class="polis">
              <div class="polis__header">
                <h2 class="polis__title">
                  Страхователь
                </h2>
              </div>

              <div class="polis__body">
                <div class="polis__payment">
                  <div class="polis__desc">
                    <p class="polis__text">
                      Настоящий Страховой полис (<b>«Полис»</b>) удостоверяет факт заключения договора страхования с АО
                      «Группа Ренессанс Страхование» (<b>«Страховщик»</b>). Договор страхования заключается на основании
                      устного заявления Страхователя путем вручения Страховщиком Страхователю настоящего Полиса,
                      подписанного Страховщиком. Согласие Страхователя заключить договор страхования на предложенных
                      Страховщиком условиях, в соответствии со ст. 435, 438, п. 2 ст. 940 ГК РФ, подтверждается
                      принятием от Страховщика настоящего Полиса и оплатой страховой премии в размере, предусмотренном
                      настоящим Полисом. Настоящий Полис заключен на условиях, изложенных в «Комплексных правилах
                      страхования имущества, гражданской ответственности и дополнительных расходов физических лиц №
                      1.2», утверждённых приказом Генерального директора № 086 от 25.06.2019 г. (Приложение № 1 к
                      настоящему Полису, далее –
                      <b>«Правила»</b>), включая Дополнительные условия № 1 по страхованию дополнительных
                      (непредвиденных) расходов и Дополнительные условия № 6 по страхованию общегражданской
                      ответственности являющиеся неотъемлемой частью Правил. Страхователь, перед оплатой страховой
                      премии, обязан ознакомиться с условиями страхования, положениями Правил страхования расположенными
                      по адресу: <a href="#">https://inapp.insure/insurance_rules.pdf</a>.
                    </p>
                  </div>
                </div>
              </div>

              <div class="polis__footer">
                <em class="polis__page">
                  1
                </em>
                <em class="polis__number">
                  №1234567890-1
                </em>
              </div>
            </div>
            <!-- ./ End of polis -->
            <!-- polis -->
            <div class="polis">
              <div class="polis__header">
                <h2 class="polis__title">
                  Срок страхования
                </h2>
              </div>

              <div class="polis__body">
                <div class="polis__insure">
                  <div class="polis__rows">
                    <div class="polis__row">
                      <h3 class="polis__value">
                        1.12.20, 00:00
                      </h3>
                      <span class="polis__key">
                        Полис вступает в силу
                      </span>
                    </div>
                    <div class="polis__row">
                      <h3 class="polis__value">
                        30.12.20, 23:59
                      </h3>
                      <span class="polis__key">
                        Полис действует до
                      </span>
                    </div>
                    <div class="polis__row">
                      <h3 class="polis__value">
                        399 ₽
                      </h3>
                      <span class="polis__key">
                        Стоимость полиса
                      </span>
                    </div>
                  </div>

                  <p class="polis__text">
                    <b>
                      Стоимость полиса уплачивается Страхователем единовременно на расчетный счет ООО «Инапп
                      Страхование» в день заключения настоящего Полиса.
                    </b>
                  </p>
                  <p class="polis__text">
                    <b>
                      В случае неоплаты страховой премии в полном объеме в указанный срок, договор страхования считается
                      не вступившим в силу, Страховщик не несет по нему обязательств и действие срока страхования не
                      начинается.
                    </b>
                  </p>
                </div>
              </div>

              <div class="polis__footer">
                <em class="polis__page">
                  1
                </em>
                <em class="polis__number">
                  №1234567890-1
                </em>
              </div>
            </div>
            <!-- ./ End of polis -->
            <!-- polis -->
            <div class="polis">
              <div class="polis__header">
                <h2 class="polis__title">
                  Особые условия
                </h2>
              </div>

              <div class="polis__body">
                <div class="polis__provision">
                  <small class="polis__small">
                    1. По условиям настоящего Полиса застрахованным считается только один объект недвижимого имущества,
                    предназначенный для проживания, адрес которого указан в графе Полиса «Территория страхования»,
                    удовлетворяющий одновременно всем перечисленным ниже требованиям: - на объект оформлено
                    свидетельство о государственной регистрации права/ внесены сведения в Единый государственной реестр
                    недвижимости/Выписка из Единого государственного реестра недвижимости; - объект не является отдельно
                    стоящим индивидуальным жилым строением, баней, гаражом, иной хозяйственной постройкой; - объект не
                    находится в заброшенном состоянии и/или используется не по назначению (проживание); -jобъект не
                    является хостелом, гостиницей; - объект не находится в аварийном состоянии, не подлежит сносу,
                    реновации или реконструкции; - на объекте не проводятся ремонтно-строительные работы, затрагивающие
                    конструктивные элементы, инженерные системы и оборудование; – объект имеет все несущие стены и
                    перекрытия из негорючих материалов (камень, бетон, ж/б блоки, кирпич).
                  </small>

                  <small class="polis__small">
                    1.1. По условиям настоящего Полиса застрахованным считается следующее движимое имущество: мебель;
                    фото-, радио-, телеаппаратура, аудио-, видео-, электронная и бытовая техника; шторы, жалюзи,
                    карнизы, осветительные приборы, настенные часы, зеркала; спортивный, туристический, охотничий,
                    рыболовный и садовый инвентарь, слесарные инструменты и оборудование, иной хозяйственный инвентарь;
                    ковровые и иные ткацкие изделия, постельные принадлежности.
                  </small>

                  <small class="polis__small">
                    1.2. Настоящий Полис автоматически продлевается на тех же условиях каждый календарный месяц. Новый
                    период страхования начинается со дня, следующего за днем окончания срока действия настоящего Полиса,
                    при соблюдении следующих условий:
                  </small>

                  <small class="polis__small">
                    1.2.1. в течение срока действия настоящего Полиса не было событий, имеющих признаки страхового
                    случая и о них не заявлено Страховщику;
                  </small>

                  <small class="polis__small">
                    1.2.2. страховая премия за очередной срок действия страхования уплачена Страхователем в полном
                    объеме и ее оплата произведена до даты окончания срока действия страхования. Страховая премия за
                    очередной срок действия Договора страхования может быть оплачена в безналичном порядке на расчетный
                    счет Страховщика или его представителя.
                  </small>

                  <small class="polis__small">
                    1.2.3. при несоблюдении любого из положений, указанных в пп. 1.2.1. и 1.2.2. настоящего Полиса,
                    настоящий Полис не считается продленным. В таких случаях денежные средства, поступившие на счет
                    Страховщика в счет уплаты страховой премии за очередной срок действия Договора страхования,
                    считаются ошибочно полученными и подлежат возврату Страхователю на основании его письменного
                    заявления.
                  </small>

                  <small class="polis__small">
                    1.2.4. Условия о порядке возврата премии в случае досрочного прекращения Полиса по заявлению
                    Страхователя, указанные в п. 9 настоящего Полиса, сохраняются при пролонгации Полиса на очередной
                    срок страхования в соответствии с п. 1.2 настоящего Полиса.
                  </small>
                </div>
              </div>

              <div class="polis__footer">
                <em class="polis__page">
                  1
                </em>
                <em class="polis__number">
                  №1234567890-1
                </em>
              </div>
            </div>
            <!-- ./ End of polis -->
            <!-- polis -->
            <div class="polis polis--without-header">
              <div class="polis__body">
                <div class="polis__provision">
                  <small class="polis__small">
                    1. По условиям настоящего Полиса застрахованным считается только один объект недвижимого имущества,
                    предназначенный для проживания, адрес которого указан в графе Полиса «Территория страхования»,
                    удовлетворяющий одновременно всем перечисленным ниже требованиям: - на объект оформлено
                    свидетельство о государственной регистрации права/ внесены сведения в Единый государственной реестр
                    недвижимости/Выписка из Единого государственного реестра недвижимости; - объект не является отдельно
                    стоящим индивидуальным жилым строением, баней, гаражом, иной хозяйственной постройкой; - объект не
                    находится в заброшенном состоянии и/или используется не по назначению (проживание); -jобъект не
                    является хостелом, гостиницей; - объект не находится в аварийном состоянии, не подлежит сносу,
                    реновации или реконструкции; - на объекте не проводятся ремонтно-строительные работы, затрагивающие
                    конструктивные элементы, инженерные системы и оборудование; – объект имеет все несущие стены и
                    перекрытия из негорючих материалов (камень, бетон, ж/б блоки, кирпич).
                  </small>

                  <small class="polis__small">
                    1.1. По условиям настоящего Полиса застрахованным считается следующее движимое имущество: мебель;
                    фото-, радио-, телеаппаратура, аудио-, видео-, электронная и бытовая техника; шторы, жалюзи,
                    карнизы, осветительные приборы, настенные часы, зеркала; спортивный, туристический, охотничий,
                    рыболовный и садовый инвентарь, слесарные инструменты и оборудование, иной хозяйственный инвентарь;
                    ковровые и иные ткацкие изделия, постельные принадлежности.
                  </small>

                  <small class="polis__small">
                    1.2. Настоящий Полис автоматически продлевается на тех же условиях каждый календарный месяц. Новый
                    период страхования начинается со дня, следующего за днем окончания срока действия настоящего Полиса,
                    при соблюдении следующих условий:
                  </small>

                  <small class="polis__small">
                    1.2.1. в течение срока действия настоящего Полиса не было событий, имеющих признаки страхового
                    случая и о них не заявлено Страховщику;
                  </small>

                  <small class="polis__small">
                    1.2.2. страховая премия за очередной срок действия страхования уплачена Страхователем в полном
                    объеме и ее оплата произведена до даты окончания срока действия страхования. Страховая премия за
                    очередной срок действия Договора страхования может быть оплачена в безналичном порядке на расчетный
                    счет Страховщика или его представителя.
                  </small>

                  <small class="polis__small">
                    1.2.3. при несоблюдении любого из положений, указанных в пп. 1.2.1. и 1.2.2. настоящего Полиса,
                    настоящий Полис не считается продленным. В таких случаях денежные средства, поступившие на счет
                    Страховщика в счет уплаты страховой премии за очередной срок действия Договора страхования,
                    считаются ошибочно полученными и подлежат возврату Страхователю на основании его письменного
                    заявления.
                  </small>

                  <small class="polis__small">
                    1.2.4. Условия о порядке возврата премии в случае досрочного прекращения Полиса по заявлению
                    Страхователя, указанные в п. 9 настоящего Полиса, сохраняются при пролонгации Полиса на очередной
                    срок страхования в соответствии с п. 1.2 настоящего Полиса.
                  </small>
                </div>
              </div>

              <div class="polis__footer">
                <em class="polis__page">
                  1
                </em>
                <em class="polis__number">
                  №1234567890-1
                </em>
              </div>
            </div>
            <!-- ./ End of polis -->
            <!-- polis -->
            <div class="polis polis--without-header">
              <div class="polis__body">
                <div class="polis__rows">
                  <div class="polis__row">
                    <h3 class="polis__value">
                      АО «Группа Ренессанс Страхование»
                    </h3>
                    <span class="polis__key">
                      Страховщик
                    </span>
                  </div>
                  <div class="polis__row">
                    <h3 class="polis__value">
                      Россия, 115114, город Москва, Дербеневская набережная, <br />
                      дом 11, этаж 10, пом. 12
                    </h3>
                    <span class="polis__key">
                      Адрес
                    </span>
                  </div>
                  <div class="polis__row">
                    <a href="tel:8 800 200-1-500" class="h3 polis__value">
                      8 800 200-1-500
                    </a>
                    <span class="polis__key">
                      Телефон
                    </span>
                  </div>
                  <div class="polis__row">
                    <a href="#" class="h3 polis__value">
                      495 967-35-35
                    </a>
                    <span class="polis__key">
                      Факс
                    </span>
                  </div>
                  <div class="polis__row">
                    <a href="renins.ru" class="h3 polis__value">
                      renins.ru
                    </a>
                    <span class="polis__key">
                      Вебсайт
                    </span>
                  </div>
                  <div class="polis__row">
                    <a href="mailto:info@renins.com" class="h3 polis__value">
                      info@renins.com
                    </a>
                    <span class="polis__key">
                      Email
                    </span>
                  </div>
                </div>

                <h4 class="polis__subtitle polis__license">
                  Лицензия ЦБ РФ СИ №1284 выдана ЦБ РФ без ограничения срока действия.
                </h4>
              </div>

              <div class="polis__footer">
                <em class="polis__page">
                  1
                </em>
                <em class="polis__number">
                  №1234567890-1
                </em>
              </div>
            </div>
            <!-- ./ End of polis -->
            <!-- polis -->
            <div class="polis polis--without-header">
              <div class="polis__body">
                <div class="polis__end">
                  <div class="polis__desc">
                    <h4 class="polis__subtitle">
                      Приложения
                    </h4>
                    <p class="polis__text">
                      Комплексные правила страхования имущества, гражданской <br />
                      ответственности и дополнительных расходов физических лиц <br />
                      № 1.2, утверждённые приказом Генерального директора <br />
                      Страховщика № 086 от 25.06.2019 г.
                    </p>
                  </div>
                  <div class="polis__desc">
                    <h4 class="polis__subtitle">
                      Страховщик
                    </h4>
                    <p class="polis__text">
                      Управляющий директор <br />
                      Департамента андеррайтинга розничного страхования
                    </p>
                  </div>

                  <div class="polis-mark">
                    <img src="images/printing.png" alt="" class="polis-mark__printing" />
                    <div class="polis-mark__info">
                      <div class="polis-mark__desc">
                        <img src="images/signature.png" alt="" class="polis-mark__signature" />
                        <h4 class="polis-mark__name">
                          А.Е. Искра
                        </h4>
                      </div>
                      <p class="polis__text">
                        доверенность 2018/2027 от 27.12.2018 г.
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="polis__footer">
                <em class="polis__page">
                  1
                </em>
                <em class="polis__number">
                  №1234567890-1
                </em>
              </div>
            </div>
            <!-- ./ End of polis -->
            <!-- polis -->
            <div class="polis polis--without-header">
              <div class="polis__body">
                <div class="polis__end">
                  <div class="polis__desc">
                    <h4 class="polis__subtitle">
                      Приложения
                    </h4>
                    <p class="polis__text">
                      Комплексные правила страхования имущества, гражданской <br />
                      ответственности и дополнительных расходов физических лиц <br />
                      № 1.2, утверждённые приказом Генерального директора <br />
                      Страховщика № 086 от 25.06.2019 г.
                    </p>
                  </div>
                  <div class="polis__desc">
                    <h4 class="polis__subtitle">
                      Страховщик
                    </h4>
                    <p class="polis__text">
                      Управляющий директор <br />
                      Департамента андеррайтинга розничного страхования
                    </p>
                  </div>

                  <div class="polis-mark polis-mark--big">
                    <img src="images/printing2.png" alt="" class="polis-mark__printing" />
                    <div class="polis-mark__info">
                      <div class="polis-mark__desc">
                        <img src="images/signature.png" alt="" class="polis-mark__signature" />
                        <h4 class="polis-mark__name">
                          А.Я. Тарновский
                        </h4>
                      </div>
                      <p class="polis__text">
                        генеральный директор
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="polis__footer">
                <em class="polis__page">
                  1
                </em>
                <em class="polis__number">
                  №1234567890-1
                </em>
              </div>
            </div>
            <!-- ./ End of polis -->
          </div>
          <!-- ./ End of wrap -->

          <a class="print-button" href="javascript:(print());">Print</a>
        </div>
        <!-- ./ End of container -->
      </section>
      <!-- ./ End of polis -->
    </main>
  <script type="text/javascript" src="js/bundle.js"></script><script type="text/javascript" src="js/index.js"></script></body>
</html>
